.board-wrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.board-container {
  will-change: transform, opacity;
  margin-top: 20px;
  margin-left: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0 0;
  transition: all 0.2s linear;
  transform-origin: bottom left;
}

.zoom-buttons {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-flex;
  img {
    display: block;
    width: 20px;
    height: 20px;
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
    cursor: pointer;
  }
}

.card-lookup {
  position: fixed;
  right: 25px;
  top: calc(50% - 340px);

  img {
    border-radius: 25px;
  }
}
