<div (wheel)="scroll($event)" class="board-wrapper">
  <div #boardContainer class="board-container">
      <app-player [player]="getPlayer(1)" [topView]="true"></app-player>
      <app-player [player]="getPlayer(2)" [topView]="true" [rightSideView]="true"></app-player>
      <app-player [player]="getPlayer(0)"></app-player>
      <app-player [player]="getPlayer(3)" [rightSideView]="true"></app-player>
  </div>
  <div class="zoom-buttons">
    <img src="../../../../../assets/data/images/board/game-controller.svg" (click)="newGame()"/>
    <img src="../../../../../assets/data/images/board/zoom-in.svg" (click)="zoom(false)" *ngIf="zoomedOut"/>
    <img src="../../../../../assets/data/images/board/zoom-out.svg" (click)="zoom(true)" *ngIf="!zoomedOut"/>
    <img src="../../../../../assets/data/images/board/left.svg" (click)="moveScreen(HORIZONTAL)" *ngIf="!zoomedOut && isMoveVisible('left')"/>
    <img src="../../../../../assets/data/images/board/right.svg" (click)="moveScreen(HORIZONTAL)" *ngIf="!zoomedOut && isMoveVisible('right')"/>
    <img src="../../../../../assets/data/images/board/top.svg" (click)="moveScreen(VERTICAL)" *ngIf="!zoomedOut && isMoveVisible('top')"/>
    <img src="../../../../../assets/data/images/board/bottom.svg" (click)="moveScreen(VERTICAL)" *ngIf="!zoomedOut && isMoveVisible('bottom')"/>
  </div>
</div>
<div *ngIf="lookedUpCard" class="card-lookup">
  <img [src]="lookedUpCard" />
</div>
<app-card-preview *ngIf="previewedCard" [previewedCard]="previewedCard" (previewCloser)="previewedCard = null"></app-card-preview>
