.playmat {
  position: relative;
  width: 1500px;
  height: 900px;
  background-color: #cccccc;
  margin: 5px;
  overflow: hidden;
  padding: 10px;

  &:after {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    content: 'Board';
    font-weight: bold;
    font-size: 24px;
  }
}

.playmat-left {
  order: 0;
  position: relative;
  width: 25%;
  height: 100%;
}

.playmat-right {
  order: 1;
  position: relative;
  width: 75%;
  height: 100%;
}

.planeswalkers, .library, .graveyard, .command-zone, .exile, .combat-zone, .battlefield, .lands {
  border-radius: 10px;
  border: 1px dashed #222;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cccccc;
}

.planeswalkers {
  height: calc(50% - 40px);
}

.library, .graveyard, .command-zone, .exile {
  height: calc(50% - 23px);
  width: calc(50% - 23px);
}

.combat-zone {
  height: calc(25% - 23px);
}

.battlefield {
  order: 1;
  height: calc(50% - 23px);
}

.lands {
  height: calc(25% - 23px);
}
