.playmat {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  //background-color: #cccccc;
  overflow: hidden;

  .row {
    width: 100%;
    height: 85%;
  }

  .hand-placeholder {
    width: 100%;
    height: 15%;
  }

}

.playmat-left {
  order: 0;
  position: relative;
  width: 25%;
  height: 100%;
}

.playmat-right {
  order: 1;
  position: relative;
  width: 75%;
  height: 100%;
}

.info-zone, .library, .graveyard, .command-zone, .exile, .combat-zone, .battlefield, .lands {
  position: relative;
  border-radius: 10px;
  border: 1px dashed #222;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  //background-color: #cccccc;

  p {
    position: absolute;
    bottom: -18px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.info-zone {
  height: calc(50% - 40px);
}

.library, .graveyard, .command-zone, .exile {
  height: calc(50% - 23px);
  width: calc(50% - 23px);
}

.combat-zone {
  height: calc(25% - 23px);
}

.battlefield {
  order: 1;
  height: calc(50% - 23px);
}

.lands {
  height: calc(25% - 23px);
}
