.board-wrapper {
  border: 1px solid #ff0000;
  width: 1580px;
  height: 980px;
  overflow: hidden;
  position: relative;
}

.board-container {
  margin-top: 20px;
  margin-left: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0 0;
  transition: all 0.2s linear;
  transform-origin: bottom left;
}

.zoom-buttons {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-flex;
  img {
    display: block;
    width: 20px;
    height: 20px;
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
  }
}
