.hand-view {
  position: absolute;
  display: flex;
  width: 75%;
  max-width: 75%;
  bottom: 0;
  left: 50%;
  align-content: center;
  transition: all 0.2s linear;
  z-index: 10000000;

  .hand-wrapper {
    position: relative;
    width: 100%;

    * {
      //will-change: transform, opacity;
      position: relative;
      overflow: hidden;
      transform-origin: center;
    }

    *:last-child, *:hover {
      overflow: visible;
    }

    *:hover {
      transition: all 0.1s linear;
      z-index: 200 !important;
    }
  }
}

.hand-view-top {
  transform: rotate(-180deg) translateX(calc(50% - 200px));
  top: -100%;
}

.hand-view-bottom {
  transform: translateX(calc(-50% - 200px));
}
