.hand-visibility {
  display: block;
  width: 20px;
  height: 20px;
  filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
  cursor: pointer;
  position: fixed;
  bottom: 0;
  left: 5%;
}

.hand-view {
  position: fixed;
  display: flex;
  width: 75%;
  max-width: 75%;
  bottom: 0;
  left: 50%;
  align-content: center;
  transform: translateX(calc(-50% - 150px));
  transition: all 0.2s linear;

  .hand-wrapper {
    position: relative;
    width: 100%;

    * {
      position: relative;
      overflow: hidden;
      transform-origin: center;
    }

    *:last-child, *:hover {
      overflow: visible;
    }

    *:hover {
      transition: all 0.1s linear;
      z-index: 200 !important;
    }
  }
}
