@import "assets/styles/loader";

@font-face {
  font-family: MTGFont;
  src: url(/assets/fonts/Beleren2016.ttf);
}

body {
  overflow: hidden;
  background: #222;
  margin: 0;
  font-family: MTGFont;
}

.row {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
}


.column {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
