<div (wheel)="scroll($event)" class="board-wrapper">
  <div #boardContainer class="board-container">
      <app-player [topView]="true"></app-player>
      <app-player [topView]="true" [rightSideView]="true"></app-player>
      <app-player></app-player>
      <app-player [rightSideView]="true"></app-player>
  </div>
  <div class="zoom-buttons">
    <img src="assets/data/images/board/zoom-in.svg" (click)="zoom(false)" *ngIf="zoomedOut"/>
    <img src="assets/data/images/board/zoom-out.svg" (click)="zoom(true)" *ngIf="!zoomedOut"/>
    <img src="assets/data/images/board/left.svg" (click)="moveScreen(HORIZONTAL)" *ngIf="!zoomedOut && isMoveVisible('left')"/>
    <img src="assets/data/images/board/right.svg" (click)="moveScreen(HORIZONTAL)" *ngIf="!zoomedOut && isMoveVisible('right')"/>
    <img src="assets/data/images/board/top.svg" (click)="moveScreen(VERTICAL)" *ngIf="!zoomedOut && isMoveVisible('top')"/>
    <img src="assets/data/images/board/bottom.svg" (click)="moveScreen(VERTICAL)" *ngIf="!zoomedOut && isMoveVisible('bottom')"/>
  </div>
</div>
<div *ngIf="previewedCard" class="card-preview">
  <img [src]="previewedCard" />
</div>
